<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI Answer</title>
    <link rel="stylesheet" href="/css/style.css">
</head> 

<body>
    <header>
        <h1>AI Question & Answer</h1>
    </header>
    <center>
    <main>
        <section>
            <h2>Question:</h2>
            <p><strong>
                    <%= question %>
                </strong></p>

            <h2>Answer:</h2>
            <p>
                <%= output_text %>
            </p>
        </section>
        <a href="/">Ask another question</a>
    </main>
</center>
    <footer>
        <p>Made with &hearts;</p>
    </footer>
</body>

</html>